<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 게임 자체는 오프라인입니다. 인터넷은 **순위표·업적에만** 씁니다. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Tower">

        <!-- Play Games 앱 ID. 콘솔에서 게임을 만들면 나옵니다.
             값이 비어 있으면 로그인만 실패하고 게임은 그대로 돕니다. -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/games_app_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
